/* Global Variables */
:root
{
	--active-color: #00A;
	--inactive-color: #6767c6;
	--background-color: #f3f3f3;
	--foreground-color: #ebebeb;
	--hover-color: #9898fa7d;
	--shadow-color: #cac6c6;
}

body
{
	background-color: var(--background-color);
}

/* Global Styling */
*
{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.row, .col { display: flex; }
.row { flex-direction: row; }
.col { flex-direction: column; }

/* Universal Page Content */

.page-content
{
	display: none;
	width: 60vw;
	box-shadow: 0px 0px 16px 4px var(--shadow-color);
	border-radius: 12px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin: 0px auto;
	background-color: rgba(var(--foreground-color), 0.8);
	backdrop-filter: blur(6px);
	z-index: 0;
	position: relative;
}
@media (max-width: 	700px)
{
	.page-content
	{
		width: 100vw;
	}
}