.page-content
{
	display: none;
	width: 60vw;
	box-shadow: 0px 0px 16px 4px var(--shadow-color);
	border-radius: 12px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	margin: 0px auto;
	background-color: var(--background-color);
	z-index: 0;
	position: relative;
}
