.header-wrapper
{
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	min-width: 660px;
	width: 60vw;

	margin: 16px auto;
	margin-bottom: 0px;
	padding: 0px 16px 16px 16px;

	background-color: var(--foreground-color);
	border-radius: 12px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;

	transition: width 350ms ease, padding 350ms ease;
}
.header-wrapper-expanded
{
	width: 100vw;
	margin: 0px auto;
	padding: 16px;
}

#name
{
	text-align: center; 
	margin: 16px;
	margin-top: 0px;
}

nav
{
	position: relative;
	padding: 0px;
	margin: 0px auto;

	border-radius: 8px;
	box-shadow: 2px 0px 16px 4px var(--shadow-color);
	width: fit-content;
}
nav div
{
	position: relative;
	cursor: pointer;
	padding: 8px 16px;
	margin: 0px;
	border-radius: 5px;
	transition: 300ms;
}

/* Hamburger Menu Icon */
#hamburger-menu
{
	display: none;
	position: fixed;
	right: 16px;
	top: 16px;
	width: 32px;
	height: 24px;
	justify-content: space-between;
	cursor: pointer;
	z-index: 2;
}
#hamburger-menu span
{
	display: block;
	height: 4px;
	background-color: black;
	border-radius: 2px;
	transition: all 300ms ease;
}
#hamburger-menu.active span:nth-child(1) { transform: translateY(10px) rotate(45deg); }
#hamburger-menu.active span:nth-child(2) { opacity: 0; }
#hamburger-menu.active span:nth-child(3) { transform: translateY(-10px) rotate(-45deg); }

/**
 * A highlighted block which moves to cover the active page link
 *
 * The width & height are set manually in javascript so as to match the nav div width & height
 */
.highlighter
{
	position: absolute;
	background-color: var(--active-color);
	opacity: 0.5;
	cursor: pointer;
}

/* Settings Cog & Wrapper*/
#settings-icon
{
	position: absolute;
	right: 16px;
	bottom: 16px;

	width: 32px;
	height: auto;
	border-radius: 100%;
	padding: 4px;
}
#settings-icon:hover
{
	cursor: pointer;
	background-color: white;
}
#settings-icon.active
{
	background-color: #7474ca
}
#settings-menu
{
	position: absolute;
	right: 0;
	/* bottom handled by JS */

	display: none; /* hidden by default */

	background-color: var(--background-color);
	box-shadow: -8px 8px 17px 4px var(--shadow-color);
	z-index: 0;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;

	padding: 16px;
}
#settings-menu.active
{
	display: flex;
	flex-direction: column;
}

#background-algorithm-switch
{
	margin-bottom: 12px;
	flex-wrap: nowrap;
	justify-content: center;
}
#marching-squares-option
{
	border-left: 1px solid black;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
#background-algorithm-switch .algorithm-switch-option:last-of-type
{
	border-right: 1px solid black;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.algorithm-switch-option
{
	padding: 8px 16px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	cursor: pointer;
}
.algorithm-switch-option:hover
{
	background-color: var(--hover-color);
}

.algorithm-content
{
	display: none;
}
.algorithm-input-wrapper
{
	flex-wrap: nowrap;
	border: 1px solid black;
	border-radius: 4px;
	position: relative;
	padding: 12px;
	text-align: center;
	margin: 24px 0px;
}
.algorithm-more-info
{
	position: absolute;
	right: 4px;
	top: 4px;
	width: 16px;
	height: auto;
	opacity: 50%;
}
.algorithm-more-info:hover { opacity: 100%; }
.algorithm-input-wrapper label
{
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--background-color);
	padding: 0px 32px;
	width: max-content;
}
.algorithm-input-wrapper input[type="range"]
{
	width: 100%;
}

@media (max-width: 	700px)
{
	#header-wrapper-id
	{
		position: fixed;
		margin: 0px;
		padding: 0px;
		box-shadow: none;
		width: 100vw;
		min-width: max-content;
		height: 100vh;
		left: 100%;
		transition: transform 300ms ease-in-out;
	}
	#header-wrapper-id.active
	{
		transform: translateX(-100%);
	}

	nav.row { flex-direction: column; }

	nav
	{
		width: 100vw;
	}

	nav div
	{
		width: fill-content;
		min-height: 75px;
		height: fit-content;
		text-align: center;
		font-size: 1.3rem;
	}

	#hamburger-menu
	{
		display: flex;
	}

	#header-wrapper-id img
	{
		width: 50px;
	}

	#settings-menu
	{
		width: 100vw;
		height: 80vh;
	}
}