.header-wrapper
{
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	min-width: max-content;
	width: 50vw;

	margin: 16px auto;
	padding: 0px 16px 16px 16px;

	background-color: var(--background-color);
	box-shadow: 0px 0px 16px 4px var(--shadow-color);
	border-radius: 12px;

	transition: width 350ms ease, padding 350ms ease;
}
.header-wrapper-expanded
{
	width: 100vw;
	margin: 0px auto;
	padding: 16px;
}

#name
{
	text-align: center; 
	margin: 16px;
	margin-top: 0px;
}

nav
{
	position: relative;
	padding: 0px;
	margin: 0px auto;

	border-radius: 8px;
	box-shadow: 2px 0px 16px 4px var(--shadow-color);
	width: fit-content;
}
nav div
{
	position: relative;
	cursor: pointer;
	padding: 8px 16px;
	margin: 0px;
	border-radius: 5px;
	transition: 300ms;
}

/**
 * A highlighted block which moves to cover the active page link
 *
 * The width & height are set manually in javascript so as to match the nav div width & height
 */
#nav-highlight
{
	position: absolute;
	background-color: var(--active-color);
	opacity: 0.5;
}

@media (max-width: 	570px)
{
	nav.row { flex-direction: column; }

	nav
	{
		width: 80vw;
	}

	nav div
	{
		width: fill-content;
		text-align: center;
	}
}