nav
{
	position: relative;
	padding: 0px;
	margin: 0px auto;
	flex-wrap: wrap;

	border-radius: 8px;
	box-shadow: 2px 0px 16px 4px #dfdfdf;
	width: fit-content;
}
nav div
{
	position: relative;
	cursor: pointer;
	padding: 8px 16px;
	margin: 0px;
	border-radius: 5px;
	transition: 300ms;
}

/**
 * A highlighted block which moves to cover the active page link
 *
 * The width & height are set manually in javascript so as to match the nav div width & height
 */
#nav-highlight
{
	position: absolute;
	background-color: var(--active-color);
	opacity: 0.5;
}